.hero {
  padding-top: 220px;
  padding-bottom: 470px;
  color: var(--color-light);
  background-image: url("../img/bg-image.png");
  background-color: var(--color-gray);

  @include bg-cover;

  &__content {
    max-width: 590px;
  }

  &__btns {
    .btn {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

}
