<section class="history">
  <div class="container">
    <div class="history__top">
      <h2 class="title history__title">Our history</h2>
      <div class="slider-nav history__slider-nav">
        <button class="history__prev btn-reset slider-nav__btn slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#left" />
          </svg>
        </button>
        <button class="history__next btn-reset slider-nav__btn slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#right" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
