<section class="how-we-do">
  <div class="container">
    <h2 class="title how-we-do__title">That’s how we do it</h2>
    <ul class="list-reset how-we-do__list">
      <li class="how-we-do__item">
        <h3 class="how-we-do__subtitle">Work Estimate</h3>
        <p class="how-we-do__descr">Culpa nostrud commodo ea&nbsp;consequat aliquip reprehenderit.</p>
      </li>
      <li class="how-we-do__item">
        <h3 class="how-we-do__subtitle">Work Estimate</h3>
        <p class="how-we-do__descr">Culpa nostrud commodo ea&nbsp;consequat aliquip reprehenderit.</p>
      </li>
      <li class="how-we-do__item">
        <h3 class="how-we-do__subtitle">Work Estimate</h3>
        <p class="how-we-do__descr">Culpa nostrud commodo ea&nbsp;consequat aliquip reprehenderit.</p>
      </li>
      <li class="how-we-do__item">
        <h3 class="how-we-do__subtitle">Work Estimate</h3>
        <p class="how-we-do__descr">Culpa nostrud commodo ea&nbsp;consequat aliquip reprehenderit.</p>
      </li>
    </ul>
  </div>
</section>
