<section class="services">
  <img src="img/services-content-bg-1.png" alt="" aria-hidden="true" class="services-decorate-1">
  <img src="img/services-content-bg-2.png" alt="" aria-hidden="true" class="services-decorate-2">
  <div class="container">
    <h2 class="visually-hidden">services</h2>
    <ul class="list-reset services__list">
      <li class="services__item">
        <div class="services__image">
          <img src="img/services-content-1.png" alt="services" class="services__image">
        </div>

        <div class="services__info">
          <h2 class="services__title">Construction</h2>
          <p class="services__descr">Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius consectetur vulputate arcu, scelerisque nisi, nibh. Enim semper id&nbsp;sodales ultricies sed ut&nbsp;augue. Mattis habitant venenatis, gravida posuere massa ac&nbsp;interdum. Eget aliquam dignissim ut&nbsp;vestibulum.</p>
  <a href="#" class="services__link btn-reset btn btn--stroke btn--stroke-primary">learn-more</a>
        </div>
      </li>
      <li class="services__item services__item--reverse">
        <div class="services__image">
          <img src="img/services-content-2.png" alt="services" class="services__image">
        </div>

        <div class="services__info">
          <h2 class="services__title">Project Development </h2>
          <p class="services__descr">Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius consectetur vulputate arcu, scelerisque nisi, nibh. Enim semper id&nbsp;sodales ultricies sed ut&nbsp;augue. Mattis habitant venenatis, gravida posuere massa ac&nbsp;interdum. Eget aliquam dignissim ut&nbsp;vestibulum.</p>
  <a href="#" class="services__link btn-reset btn btn--stroke btn--stroke-primary">learn-more</a>
        </div>
      </li>
      <li class="services__item">
        <div class="services__image">
          <img src="img/services-content-3.png" alt="services" class="services__image">
        </div>

        <div class="services__info">
          <h2 class="services__title">Interior Design </h2>
          <p class="services__descr">Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius consectetur vulputate arcu, scelerisque nisi, nibh. Enim semper id&nbsp;sodales ultricies sed ut&nbsp;augue. Mattis habitant venenatis, gravida posuere massa ac&nbsp;interdum. Eget aliquam dignissim ut&nbsp;vestibulum.</p>
  <a href="#" class="services__link btn-reset btn btn--stroke btn--stroke-primary">learn-more</a>
        </div>
      </li>
      <li class="services__item services__item--reverse">
        <div class="services__image">
          <img src="img/services-content-4.png" alt="services" class="services__image">
        </div>

        <div class="services__info">
          <h2 class="services__title">Repairs</h2>
          <p class="services__descr">Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius consectetur vulputate arcu, scelerisque nisi, nibh. Enim semper id&nbsp;sodales ultricies sed ut&nbsp;augue. Mattis habitant venenatis, gravida posuere massa ac&nbsp;interdum. Eget aliquam dignissim ut&nbsp;vestibulum.</p>
  <a href="#" class="services__link btn-reset btn btn--stroke btn--stroke-primary">learn-more</a>
        </div>
      </li>
    </ul>
  </div>
</section>
