<section class="we-offer">
  <div class="container we-offer__container grid">
    <div class="we-offer__image">
      <img src="img/we-offer.jpg" alt="We offer smth">
    </div>
    <div class="we-offer__content">
      <h2 class="title we-offer__title">We offer</h2>

      <div class="accordion-block" data-simplebar>
        <div class="we-offer__accordion accordion">
            <button class="accordion__control btn-reset" aria-expanded="false">
              <span class="accordion__title">Interior design of&nbsp;apartments</span>
              <span class="accordion__icon"></span>
              </button>
            <div class="accordion__descr" aria-hidden="true">
<p>Adipiscing nunc arcu enim elit mattis eu&nbsp;placerat proin. Imperdiet elementum faucibus dignissim purus. Fusce
   parturient diam magna ullamcorper morbi semper massa ac&nbsp;facilisis.</p>
            </div>
          </div>

          <div class="accordion">
            <button class="accordion__control btn-reset" aria-expanded="false">
              <span class="accordion__title">Interior design of private houses</span>
              <span class="accordion__icon"></span>
              </button>
            <div class="accordion__descr" aria-hidden="true">
<p>Adipiscing nunc arcu enim elit mattis eu&nbsp;placerat proin. Imperdiet elementum faucibus
  dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac&nbsp;facilisis.</p>
            </div>
          </div>
        </div>

    </div>
  </div>
</section>
